<div class="dashboard-container">
  <!-- Sidebar -->
  <div class="sidebar">
    <ul>
      <li><a routerLink="/home">Home</a></li>
      <li><a (click)="loadAllUsers()">All Users</a></li>
      <li><a (click)="loadAllPets()">All Pets</a></li>
      <li><a (click)="loadAllAdoptionRequests()">All Requests</a></li>
    </ul>
  </div>
  <div>
    <h1>Welcome to Admin DashBoard !</h1>
     <!-- Main Content -->
  <div class="main-content">
    <!-- All Users Card -->
     
    <div class="dashboard-card" (click)="loadAllUsers()">
      <h2>All Users</h2>
      <app-user></app-user>
    </div>

    <!-- All Pets Card -->
    <div class="dashboard-card" (click)="loadAllPets()">
      <h2>All Pets</h2>
      <app-pet></app-pet>
    </div>

    <!-- All Requests Card -->
    <div class="dashboard-card" (click)="loadAllAdoptionRequests()">
      <h2>All Adoption Requests</h2>
      <app-request></app-request>
    </div>
  </div>
  </div>
</div>
